@page
@model WebsiteBVXK.Pages.DangNhapModel
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Đăng Nhập";
}

<div id="account" class="noi-dung">
    <div class="form">
        <h2>Đăng Nhập</h2>
        <form method="post">
            <div class="input-form">
                <span>Tên Người Dùng</span>
                <input type="text" asp-for="Input.Username"/>
            </div>
            <div class="input-form">
                <span>Mật Khẩu</span>
                <input type="password" asp-for="Input.Password"/>
            </div>
            @{
                if (Model.isError)
                {
                    <div>Tên đăng nhập hoặc mật khẩu không đúng</div>
                };
            }
            <div class="input-form">
                <button type="submit">
                    <span>Đăng nhập</span>
                </button>
            </div>
        </form>
    </div>
</div>