@page
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Hotline";
}

<link rel="stylesheet" href="~/css/Hotline.css"/>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="text-box">
    <div class="hihi">Thông Tin Liên Hệ</div>
    <ul class="info">
        <li>
            <i class='bx bxs-map-pin bx-tada bx-flip-horizontal' ></i>
            <span>
                Đường 125 Lê Thánh Tông, Quận Thanh Khê, Thành Phố Đà Nẵng <br />
            </span>
        </li>
        <li>
            <i class='bx bx-envelope bx-tada' ></i>
            <span>nhaxekhanhtruyen@gmail.com</span>
        </li>
        <li>
            <i class='bx bxs-phone-call bx-tada' ></i>
            <span>1900283821</span>
        </li>
    </ul>
</div>