@page
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Hotline";
}

<div class="container">
    <div class="containerinfo">
        <div>
            <h2>Thông Tin Liên Hệ</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>
                        Đường 125 Lê Thánh Tông<br />
                        Quận Thanh Khê,<br />
                        Thành Phố Đà Nắng
                    </span>
                </li>
                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <span>nhaxekhanhtruyen@gmail.com</span>
                </li>
                <li>
                    <span><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                    <span>1900283821</span>
                </li>
            </ul>
        </div>
    </div>
</div>