@page
@model WebsiteBVXK.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Trang Chủ";
}


<div class="content">
    <h1>Nhà Xe Khánh Truyền</h1>
    <P><marquee direction="left">Hân hạnh mang đến những dịch vụ tốt nhất cho quý khách hàng.</marquee></P>
    <div>
        <button type="button">
            <a asp-page="/KhachHang/TimVe">
                <span>TÌM KIẾM VÉ XE</span>
            </a>
        </button>
        <form method="post">
            <button type="submit">
                Send
            </button>
        </form>
    </div>
</div>

