@page
@model WebsiteBVXK.Pages.Admin.QuanLyDonHangModel
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Quản Lý Đơn hàng";
}

<div class="head-title">
    <div class="left">
        <h1>Trang Quản lý</h1>
        <ul class="breadcrumb">
            <li>
                <a class="active" asp-page="/Admin/TrangQuanLy">Trang Quản lý</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">@ViewData["Tittle"]</a>
            </li>
        </ul>
    </div>
</div>

<div id="quan-ly-don-hang" class="table-data">

    <div class="todo">
        <div class="head">
            <h3>Thông tin đơn hàng</h3>
        </div>

        <div class="input-list">
            <table class="inputable">
                <tbody>
                    <tr>
                        <td>Mã đơn hàng:</td>
                        <td>
                            <input type="text" readonly v-model="donhangModel.idDonHang" />
                        </td>
                    </tr>
                    <tr>
                        <td>Số ghế đã đặt:</td>
                        <td>
                            <input type="text" readonly v-model="donhangModel.soGhes" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mã lịch trình:</td>
                        <td>
                            <input type="text" readonly v-model="donhangModel.idLichTrinh" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mã xe:  </td>
                        <td>
                            <input type="text" readonly v-model="donhangModel.idXe" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="head">
            <h3 style="margin-top: 15px;">Thông tin khách hàng</h3>
        </div>


        <div class="input-list">
            <table class="inputable">
                <tbody>
                    <tr>
                        <td> Tên khách hàng:</td>
                        <td>
                            <input type="text" readonly v-model="donhangModel.tenKhachHang"/>
                        </td>
                    </tr>
                    <tr>

                        <td>Số điện thoại: </td>
                        <td>
                            <input type="tel" readonly name="sodienthoai" v-model="donhangModel.soDienThoai"/>
                        </td>
                    </tr>
                    <tr>
                        <td> Ngày đón: </td>
                        <td> 
                            <input type="date" readonly name="ngaydi" v-model="donhangModel.ngayDon" />
                        </td>
                    </tr>
                    <tr>
                        <td> Giờ đón: </td>
                        <td>
                            <input type="time" name="thoigiandon" v-model="donhangModel.gioDon" />
                        </td>
                    </tr>

                    <tr>
                        <td> Điểm đón: </td>
                        <td>
                            <input type="text"  v-model="donhangModel.diemDon" />
                        </td>
                    </tr>
                    <tr>
                        <td> Điểm trả: </td>
                        <td>
                            <input type="text"  v-model="donhangModel.diemTra" />
                        </td>
                    </tr>
                    <tr>
                        <td> Tổng tiền: </td>
                        <td>
                            <input type="text" readonly name="tongtien" v-model="donhangModel.tongTien" />
                        </td>
                    </tr>
                    <tr>
                        <td> Tình trạng: </td>
                        <td>
                            <input type="text" readonly name="tongtien" v-model="donhangModel.tinhTrang" />
                        </td>
                        @*<td>
                            <select name="tinhtrang" id="" v-model="donhangModel.tinhTrang">
                                <option value="Đã thanh toán">Đã thanh toán</option>
                                <option value="Chưa thanh toán">Chưa thanh toán</option>
                            </select>
                        </td>*@
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table-buttoncn">
            <tbody>
                <tr>
                    <td>
                        <button class="buttontcn" @@click="updateDonHang()">Cập nhật</button>
                    </td>
                    <td>
                        <button class="buttontcn" @@click="thanhToanDon()">Thanh toán</button>
                    </td>
                    <td>
                        <button class="buttontcn" @@click="deleteDonHang()">Hủy đơn</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="order">
        <div class="head">
            <h3>Danh sách đơn hàng</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Mã vé</th>
                    <th>Mã lịch trình</th>
                    <th>Mã xe</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(donhang, index) in donhangs" @@click="editDonHang(donhang.idDonHang, index)">
                    <td><span class="status pending">{{donhang.idDonHang}}</span></td>
                    <td>{{donhang.idVeXe}}</td>
                    <td>{{donhang.idLichTrinh}}</td>
                    <td>{{donhang.idXe}}</td>
                </tr>
            </tbody>
        </table>
        <div class="head">
            <h3>Danh sách thông tin khách hàng</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Ngày đón</th>
                    <th>Giờ đón</th>
                    <th>Điểm đón</th>
                    <th>Điểm trả</th>
                    <th>Tổng tiền</th>
                    <th>Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(donhang, index) in donhangs" @@click="editDonHang(donhang.idDonHang, index)">
                    <td><span class="status pending">{{donhang.idDonHang}}</span></td>
                    <td>{{donhang.tenKhachHang}}</td>
                    <td>{{donhang.soDienThoai}}</td>
                    <td>{{donhang.ngayDon}}</td>
                    <td>{{donhang.gioDon}}</td>
                    <td>{{donhang.diemDon}}</td>
                    <td>{{donhang.diemTra}}</td>
                    <td>{{donhang.tongTien}}</td>
                    <td>{{donhang.tinhTrang}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/js/donhangs.js"></script>
    <script src="~/js/emailTemp.js"></script>
}