@page
@model WebsiteBVXK.Pages.QuanLyLichTrinhModel
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Quản Lý Lịch Trình";
}

<div class="head-title">
    <div class="left">
        <h1>Trang Quản lý</h1>
        <ul class="breadcrumb">
            <li>
                <a class="active" asp-page="/Admin/TrangQuanLy">Trang Quản lý</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">@ViewData["Tittle"]</a>
            </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
        <i class='bx bxs-cloud-download'></i>
        <span class="text">Download PDF</span>
    </a>
</div>



<div id="quan-ly-lich-trinh" class="table-data">

    <div class="todo">
        <div class="head">
            <h3>Thông tin lịch trình</h3>
        </div>
        <div class="input-list">
            <table class="inputable">
                <tbody>
                    <tr>
                        <td> Mã lịch trình:</td>
                        <td>
                            <input readonly type="text" v-model="lichtrinhModel.IdLichTrinh">
                        </td>
                    </tr>
                    <tr>

                        <td>Mã xe:</td>
                        <td>
                            <select type="text" v-model="lichtrinhModel.IdXe">
                                @{
                                    foreach(var xe in Model.Xes)
                                    {
                                        <option value=@xe.idXe>@xe.idXe</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> Nơi xuất phát:  </td>
                        <td>
                            <select name="noixuatphat" id="" v-model="lichtrinhModel.NoiXuatPhat">
                                @{
                                    for(int tinh = 0; tinh < Model.diemDi.Count; tinh++)
                                    {
                                        <option value=@Model.diemDi[tinh]>@Model.diemDi[tinh]</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> Nơi đến: </td>
                        <td>
                            <select name="noixuatphat" id="" v-model="lichtrinhModel.NoiDen">
                                @{
                                    for(int tinh = 0; tinh < Model.diemDen.Count; tinh++)
                                    {
                                        <option value=@Model.diemDen[tinh]> @Model.diemDen[tinh]</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> Ngày đi: </td>
                        <td> 
                            <input type="date" name="ngaydi" v-model="lichtrinhModel.NgayDi" />
                        </td>
                    </tr>
                    <tr>
                        <td> Thời gian đi: </td>
                        <td> <input type="time" name="thoigiandi" v-model="lichtrinhModel.GioDi"/> </td>
                    </tr>
                    <tr>
                        <td> Ngày đến: </td>
                        <td> 
                            <input type="date" name="ngayden" v-model="lichtrinhModel.NgayDen" />
                        </td>
                    </tr>
                    <tr>
                        <td>Thời gian đến: </td>
                        <td>
                            <input type="time" name="thoigianden" v-model="lichtrinhModel.GioDen"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table-button">
            <tr>
                <td>
                    <button class="buttontsx" @@click="createLichTrinh()">Thêm</button>
                    <button class="buttontsx" @@click="deleteLichTrinh()">Xóa</button>
                    <button class="buttontsx" @@click="updateLichTrinh()">Sửa</button>
                </td>

            </tr>
        </table>
    </div>

    <div class="order">
        <div class="head">
            <h3>Danh sách lịch trình</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã lịch trình</th>
                    <th>Mã xe</th>
                    <th>Nơi xuất phát</th>
                    <th>Nơi đến</th>
                    <th>Ngày đi</th>
                    <th>Thời gian đi</th>
                    <th>Ngày đến</th>
                    <th>Thời gian đến</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(lichtrinh, index) in lichtrinhs" @@click="editLichTrinh(lichtrinh.idLichTrinh, index)">
                    <td><span class="status pending"> {{lichtrinh.idLichTrinh}}</span></td>
                    <td>{{lichtrinh.idXe}}</td>
                    <td>{{lichtrinh.noiXuatPhat}}</td>
                    <td>{{lichtrinh.noiDen}}</td>
                    <td>{{lichtrinh.ngayDi}}</td>
                    <td>{{lichtrinh.gioDi}}</td>
                    <td>{{lichtrinh.ngayDen}}</td>
                    <td>{{lichtrinh.gioDen}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/js/lichtrinhs.js"></script>
}