@page
@model WebsiteBVXK.Pages.Admin.QuanLyVeModel
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Quản Lý Vé";
}

<div class="head-title">
    <div class="left">
        <h1>Trang Quản lý</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Trang Quản lý</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">@ViewData["Tittle"]</a>
            </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
        <i class='bx bxs-cloud-download'></i>
        <span class="text">Download PDF</span>
    </a>
</div>



<div id = "quan-ly-ve" class="table-data">

    <div class="todo">
        <div class="head">
            <h3>Thông tin vé</h3>

        </div>

        <ul class="input-list">
            <table class="inputable">
                <tr>
                    <td> Mã vé:</td>
                    <td>
                        <select type="text" v-model="veViewModel.IdXe">
                            @{
                                foreach(var xe in Model.Xes)
                                {
                                    <option value=@xe.idXe>@xe.idXe</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>

                    <td>Mã xe:  </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>

                <tr>
                    <td> Mã lịch trình:  </td>
                    <td>
                        <select type="text" v-model="veViewModel.maLichTrinh">
                            @{
                                foreach (var lichTrinh in Model.LichTrinhs)
                                {
                                    <option value=@lichTrinh.IdLichTrinh>@lichTrinh.IdLichTrinh</option>
                                }
                            }
                        </select>
                    </td>
                    </td>
                </tr>
                <tr>
                    <td> Giá vé: </td>
                    <td>
                        <input type="text" name="giave">
                    </td>
                </tr>
                
                <tr>
                    <td> Tình trạng vé:</td>
                    <td>
                        <select name="tinhtrangve" id="" v-model="veViewModel.tinhTrangVe">
                            <option :value=0>Đã bán</option>
                            <option :value=1>Giữ chỗ</option>
                            <option :value=2>Chưa bán</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Loại vé:</td>
                    <td>
                        <select name="loaive" id="" v-model="veViewModel.loaiVe">
                            <option :value=0>Thường</option>
                            <option :value=1>Vip</option>
                        </select>
                    </td>
                </tr>
            </table>
        </ul>
        <table class="table-buttonve">
            <tr>
                <td>
                    <button class="buttontsx" @@click="createTicket()">Thêm</button>
                    <button class="buttontsx" @@click="deleteTicket()">Xóa</button>
                    <button class="buttontsx" @@click="updateTicket()">Sửa</button>
                    <button class="buttontsx">Thống kê</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="order">
        <div class="head">
            <h3>Danh sách lịch trình</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã vé</th>
                    <th>Mã xe</th>
                    <th>Mã lịch trình</th>
                    <th>Giá vé</th>
                    <th>Tình trạng vé</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(ticket, index) in tickets" @@click="editProduct(ticket.idTicket, index)">
                    <td><span class="status pending"> {{ticket.}}</span></td>
                    <td>X0001</td>
                    <td>LT001</td>
                    <td>200000</td>
                    <td>Đã đặt</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

@section scripts{
    <script src="~/js/tickets.js"></script>
}