@page
@model WebsiteBVXK.Pages.Admin.ThongKeDoanhThuModel
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Thống kê doanh thu";
}

<div class="head-title">
    <div class="left">
        <h1>Trang Quản lý</h1>
        <ul class="breadcrumb">
            <li>
                <a class="active" asp-page="/Admin/TrangQuanLy">Trang Quản lý</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">@ViewData["Tittle"]</a>
            </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
        <i class='bx bxs-cloud-download'></i>
        <span class="text">Download PDF</span>
    </a>
</div>

<div id="thong-ke-doanh-thu" class="table-data">
    <div class="todo">
        <div class="head">
            <h3>Thống kê doanh thu</h3>
        </div>

        <ul class="input-list">
            <table class="inputable">
                <tr>
                    <td> Từ ngày:</td>
                    <td>
                        <input type="date" v-model="from"/>
                    </td>
                </tr>
                <tr>
                    <td>Đến ngày:  </td>
                    <td>
                        <input type="date" v-model="to"/>
                    </td>
                </tr>
                <tr>
                    <td>Tổng doanh thu: </td>
                    <td>
                        <input type="text" readonly v-model="this.tongDoanhThu"/>
                    </td>
                </tr>
            </table>
        </ul>
        <table class="table-buttoncn">
            <tr>
                <td>
                    <button class="buttontcn" @@click="getThongKesBetween()">Thống kê</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="order">
        <div class="head">
            <h3>Danh sách thống kê</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã vé</th>
                    <th>Ngày đặt vé</th>
                    <th>Loại vé</th>
                    <th>Giá vé</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(thongke, index) in thongkes">
                    <td><span class="status pending">{{thongke.idVe}}</span></td>
                    <td>{{thongke.ngayDat}}</td>
                    <td>{{thongke.loaiVe}}</td>
                    <td>{{thongke.giaVe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/js/thongkes.js"></script>
}