@page
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Thông Tin Chuyển Khoản";
}
<link rel="stylesheet" href="~/css/ThongTinCK.css"/>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="text-box">
    <div class="text">
        <div class="hihi">Nhà xe Khánh Truyền</div>
        Xin chân thành cảm ơn
        vì đã tin yêu và sử dụng dịch vụ. <br>
        Quý khách vui lòng thanh toán qua thông tin sau. <br>
        <div class="stk">
            <div class="bank">Ngân hàng</div>
            Agribank
            <div class="CTK">Chủ tài khoản:</div>
            Khánh Truyền
            <div class="STK">Số tài khoản: </div>
            3701205097316
        </div>
    </div>
</div>