@page
@model WebsiteBVXK.Pages.KhachHang.ThongTinKhachHangModel
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Thông Tin Khách Hàng";
}

<link rel="stylesheet" href="/css/ThongTinKhach.css"/>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<form method="post" class="banner">
    <div class="noidung">
        <div class="form">
            <h2><b>Thông Tin Khách Hàng</b></h2>
            <div>
                <div class="input-form">
                    <span>Tên Khách Hàng<sup>*</sup></span>
                    <input asp-for="tenkhach" type="text" placeholder="Nhập họ và tên của bạn" required/>
                </div>
                <div class="input-form">
                    <span>Số điện thoại<sup>*</sup></span>
                    <input type="text" asp-for="sdt" placeholder="Nhập số điện thoại của bạn" required/>
                </div>
                <div class="input-form">
                    <span>Email<sup>*</sup></span>
                    <input type="text" asp-for="email" placeholder="Nhập địa chỉ email của bạn" required/>
                </div>
                @*<div class="input-form">
                    <span>CMND/CCCD<sup>*</sup></span>
                    <input type="text" asp-for="cmnd" placeholder="Nhập CMND CCCD của bạn" required/>
                </div>*@
                @*<div class="note">
                    <span>Ghi chú</span>
                    <textarea name="ghichu" asp-for="ghichu" id="ghichu" cols="45" rows="4"></textarea>
                </div>*@
            </div>
            <div class="notes-container">
                <span class="title">Lưu ý</span> <br>
                <p class="txt">(*) Thông tin hành khách phải chính xác, nếu không sẽ không thể lên xe hoặc hủy/đổi vé.</p>
            </div>
            <div>
                <button class="btn3">   
			        <a asp-page="/KhachHang/XacNhanThongTin">
                    <span>Tiếp tục</span>
			        </a>
                </button>
            </div>
        </div>
    </div>
</form>