@page
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Thông Tin Chuyển Khoản";
}

<link rel="stylesheet" href="~/css/ThongTinCK.css"/>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="text-box">
    <div class="hihi">Nhà xe Khánh Truyền</div>
    Xin chân thành cảm ơn quý khách vì đã tin yêu và sử dụng dịch vụ.<br>
    Quý khách vui lòng thanh toán qua thông tin sau. <br>
    <div class="thongtin">
        <div class="bank">
            Ngân hàng
        </div>
            Nông nghiệp và Phát triển nông thôn Việt Nam Agribank

        <div class="CTK">
            Chủ tài khoản:
        </div>
        Khánh Truyền

        <div class="STK">
            Số tài khoản: 
        </div>
        3701205097316

        <div class="ND">
            Nội dung chuyển khoản: 
        </div>
        Tên Khách Hàng + Số điện thoại + Số vé xe

    </div>
</div>