@page
@model WebsiteBVXK.Pages.TimVeModel
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Tìm Vé Xe Khách";
}

<form method="post" class="banner" id = "tim-ve">
    <div class="noi-dung">
        <div class="form">
            <h2><b>Tìm Kiếm Vé Xe</b></h2>
            <div>
                <div class="input-form">
                    <span>Chọn Điểm Đi</span>
                    <select asp-for="timVe.start">
                        @{
                            for(int tinh = 0; tinh < Model.diemDi.Count; tinh++)
                            {
                                <option>@Model.diemDi[tinh]</option>
                            }
                        }
                    </select>
                </div>
                <div class="input-form">
                    <span>Chọn Điểm Đến</span>
                    <select asp-for="timVe.des" >
                        @{
                            for(int tinh = 0; tinh < Model.diemDen.Count; tinh++)
                            {
                                <option>@Model.diemDen[tinh]</option>
                            }
                        }
                    </select>
                </div>
                <div class="input-form">
                    <span>Thời Gian Đi</span>
                    <input id="ngay-di" type="date" asp-for="timVe.date" />
                </div>
            </div>
        </div>
    </div>
    <div class="content" >
        <button type="submit">Tim kiem</button>
    </div>@*<a asp-page="/KhachHang/ThongTinVe">Tìm kiếm</a>*@
</form>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;

    document.getElementById("ngay-di").min = today;
</script>