@page
@model WebsiteBVXK.Pages.TimVeModel
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Tìm Vé Xe Khách";
}

<div class="banner" id = "tim-ve">
    <div class="noi-dung">
        <div class="form">
            <h2><b>Tìm Kiếm Vé Xe</b></h2>
            <form action="">
                <div class="input-form">
                    <span>Chọn Điểm Đi</span>
                    <select name="thanhthi" id="thanhthi" v-model="findViewModel.start">
                        @{
                            for(int tinh = 0; tinh < Model.tinhtp.Count; tinh++)
                            {
                                <option value=@Model.tinhtp[tinh]>@Model.tinhtp[tinh]</option>
                            }
                        }
                    </select>
                </div>
                <div class="input-form">
                    <span>Chọn Điểm Đến</span>
                    <select name="thanhthi" id="thanhthi" v-model="findViewModel.des">
                        @{
                            for(int tinh = 0; tinh < Model.tinhtp.Count; tinh++)
                            {
                                <option value=@Model.tinhtp[tinh]>@Model.tinhtp[tinh]</option>
                            }
                        }
                    </select>
                </div>
                <div class="input-form">
                    <span>Thời Gian Đi</span>
                    <input type="date"  v-model="findViewModel.date"/>
                </div>
            </form>
        </div>
    </div>
    <form class="content" method="post">
        <button type="button" @@click="findLichTrinh()"><a asp-page="/KhachHang/ThongTinVe">Tìm kiếm</a></button>
    </form>
</div>

@section scripts{
    <script src="~/js/Find.js"></script>
}