@page
@model WebsiteBVXK.Pages.TimVeModel
@{ 
    Layout = "_Layout";
    ViewData["Tittle"] = "Tìm Vé Xe Khách";
}

<form method="post" class="banner" id = "tim-ve">
    <div class="noi-dung">
        <div class="form">
            <h2><b>Tìm Kiếm Vé Xe</b></h2>
            <div>
                <div class="input-form">
                    <span>Chọn Điểm Đi</span>
                    <select asp-for="timVe.start">
                        @{
                            for(int tinh = 0; tinh < Model.tinhtp.Count; tinh++)
                            {
                                <option>@Model.tinhtp[tinh]</option>
                            }
                        }
                    </select>
                </div>
                <div class="input-form">
                    <span>Chọn Điểm Đến</span>
                    <select asp-for="timVe.des" >
                        @{
                            for(int tinh = 0; tinh < Model.tinhtp.Count; tinh++)
                            {
                                <option>@Model.tinhtp[tinh]</option>
                            }
                        }
                    </select>
                </div>
                <div class="input-form">
                    <span>Thời Gian Đi</span>
                    <input type="date" asp-for="timVe.date" />
                </div>
            </div>
        </div>
    </div>
    <div class="content" >
        <button type="submit">Tim kiem</button>
    </div>@*<a asp-page="/KhachHang/ThongTinVe">Tìm kiếm</a>*@
</form>

@*@section scripts{
    <script src="~/js/Find.js"></script>
}*@